[Unit]
Description=titids Tiny Thick IDS
After=network-online.target

[Service]
ExecStart=/usr/local/bin/suricata -c /usr/local/etc/suricata.yaml -i eth0
ExecStop=/bin/pkill -9 -f /usr/local/bin/suricata
User=root
Group=root

[Install]
WantedBy=multi-user.target
